---
import BlogPost from '@/components/BlogPost.astro';
import Layout from '@/layouts/layout.astro';
const pageTitle = "My Astro Learning Blog"

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
let i = ""

import '@/styles/global.css';
---
<Layout pageTitle = {pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</Layout>
